html, body {
    height: 100%;
    background-color: gray;
    padding: 0.5%;
}

p {
    background-color: white;
    width: fit-content;
    padding: 15px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50px;
}